		<header class="site-header">
			<div class="container">
				<div class="site-header-inner">
					<div class="brand header-brand">
						<h1 class="m-0">
							<a href="#">
								<svg width="48" height="32" viewBox="0 0 48 32" xmlns="http://www.w3.org/2000/svg">
									<title>{{ .Site.Title }}</title>
									<defs>
										<linearGradient x1="0%" y1="100%" y2="0%" id="logo-a">
											<stop stop-color="#007CFE" stop-opacity="0" offset="0%"/>
											<stop stop-color="#007DFF" offset="100%"/>
										</linearGradient>
										<linearGradient x1="100%" y1="50%" x2="0%" y2="50%" id="logo-b">
											<stop stop-color="#FF4F7A" stop-opacity="0" offset="0%"/>
											<stop stop-color="#FF4F7A" offset="100%"/>
										</linearGradient>
									</defs>
									<g fill="none" fill-rule="evenodd">
										<rect fill="url(#logo-a)" width="32" height="32" rx="16"/>
										<rect fill="url(#logo-b)" x="16" width="32" height="32" rx="16"/>
									</g>
								</svg>
							</a>
						</h1>
					</div>
				</div>
			</div>
		</header>